.anno-form-button {
    margin: 10px 20px;
    padding: 5px;
    border: rgb(230, 230, 230);
    border-radius: 1px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
    outline: none;
    display: block;
}

.anno-form-button:hover {
    background-color: rgb(215, 215, 215);
}

.anno-form-container {
    margin: 10px 10px 0 10px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    z-index: 2;
}

.anno-form-container textarea {
    width: 85%;
    margin: auto;
    min-height: 60px;
    resize: none;
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 2px;
    padding: 5px;
    outline: none;
    font-size: 14px;
}

.anno-form-header {
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: black;
}

.anno-form-button-container {
    margin-left: -20px;
}
