.annotation-show {
    font-size: 14px;
    width: 85%;
    margin: auto;
    border-left: 5px solid rgb(0, 173, 226);
    color: black;
    border-radius: 1px;
}

.annotation-body {
    font-weight: 300;
    top: 35%;
    padding: 10px;
    font-size: 14px;
    line-height: 22px;
    white-space: pre-line;
}

.annotation-lyric {
    white-space: pre-line;
    line-height: 22px;
}