.anno-form-button {
    margin: 10px 5px 10px 20px;
    padding: 5px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 2px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.cancel:hover {
    background-color: red;
    border: 1px solid rgb(255, 70, 70);
}

.submit:hover {
    background-color: rgb(255, 255, 50);
    border: 1px solid rgb(255, 255, 120);
}

.anno-form-container {
    margin: 10px 10px 0 10px;
    padding: 10px 20px;
    // background-color: rgb(240, 240, 240);
    z-index: 2;
}

.anno-form-container textarea {
    width: 85%;
    margin: auto;
    min-height: 60px;
    resize: none;
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 2px;
    padding: 5px;
    outline: none;
    font-size: 14px;
}

.anno-form-header {
    height: 70px;
    width: 85%;
    margin: auto;
    background-color: rgb(140, 140, 140);
    border-radius: 3px;
    text-align: center;
}

.anno-form-header h2 {
    font-size: 25px;
    color: rgb(255, 255, 50);
    padding: 20px 0;
}

.anno-form-button-container {
    margin-left: -20px;
}
