.top-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 50);
}

.logo {
    margin-left: 50%;
    position: relative;
    left: -63px;
    font-size: 26px;
    color: rgb(255, 255, 50);
    text-shadow: -2px 2px black;
    font-weight: 700;
}

.user-links {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 95px;
    font-size: 11px;
    font-weight: 700;
}

.user-links a:hover {
    text-decoration: underline;
}

.user-links .username {
    font-size: 14px;
    font-weight: 700;
}

.user-links a {
    color: black;
}

.logout-link {
    cursor: pointer;
}

.bottom-header {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    padding: 10px;
    height: 20px;
}

.nav-links {
    display: flex;
    width: 80px;
    justify-content: space-between;
    border-left: 2px solid white;
    padding-left: 10px;
    text-align: center;
}
.nav-links img {
    display: inline-block;
    height: 100%;
}