header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.top-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 50);
}

.logo {
    margin-left: 50%;
    position: relative;
    left: -63px;
    font-size: 26px;
    color: rgb(255, 255, 50);
    text-shadow: -2px 2px black;
    font-weight: 700;
}

.logo:visited {
    color: rgb(255, 255, 50);
}

.user-links {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 700;
}

.user-links a:hover {
    text-decoration: underline;
}

.user-links .username {
    font-size: 14px;
    font-weight: 700;
}

.user-links li:last-child {
    margin-left: 10px;
}

.user-links a {
    color: black;
}

.logout-link {
    cursor: pointer;
}

.bottom-header {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    padding: 10px;
    height: 20px;
}

.header-links-container {
    display: flex;
    justify-content: center;
}

.page-links {
    color: white;
    display: flex;
    align-items: flex-end;
    font-weight: 300;
}

.page-links a:hover {
    color: rgb(255, 255, 50);
}

.page-links li {
    padding-right: 30px;
    text-align: center center;
}

.ext-links {
    display: flex;
    width: 80px;
    height: 22px;
    justify-content: space-between;
    border-left: 2px solid white;
    padding-left: 30px;
    text-align: center;
}

.ext-links img {
    display: inline-block;
    height: 100%;
}