.black-out {
    position: absolute;
    width: 100%;
    min-height: 90vh;
    background-color: black;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 65px 15px 15px 15px;
    width: 400px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.form-container > p {
    line-height: 20px;
}

.form-container input {
    background-color: rgb(40, 40, 40);
    width: 300px;
    margin: 5px 0 15px 0;
    padding: 5px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 3px;
    font-size: 16px;
    color: white;
}
.form-container input:focus {
    border: 1px solid rgb(70, 70, 70);
    outline: none;
    caret-color: white;
}

.form-container a:hover {
    color: rgb(136, 207, 255);
}

.form-button {
    padding: 7px;
    background-color: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 3px;
}

.form-button:hover {
    cursor: pointer;
    background-color: rgb(40, 40, 40)
}

.form-button:focus {
    outline: none;
}

.form-header {
    font-size: 30px;
    font-weight: 700;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
    padding: 15px;
    border-top: 1px solid rgb(50, 50, 50);
    border-radius: 1px;
    background-color: rgb(20, 20, 20);
}

.form-container a {
    color: rgb(0, 173, 226);
}

.password-hint {
    position: relative;
    font-size: 10px;
    color: rgb(150, 150, 150);
}

.errors-list {
    font-size: 12px;
    list-style: disc inside;
    color: rgb(255, 255, 50);
}

.form-button-container {
    display: flex;
    flex-direction: column;
}