.track-show {
    width: 100%;
    max-width: 970px;
    margin: auto;
    min-height: 750px;
    background-color: white;
}

.track-show-img {
    position: relative;
    left: -15px;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border: 2px solid rgb(175, 175, 175);
}

.track-info-container {
    display: flex;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: black;
}

.track-info p {
    padding: 7px;
}

.track-title {
    font-size: 30px;
    color: rgb(255, 255, 50);
}

.track-artist {
    font-size: 18px;
    color: white;
}

.track-album {
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.lyrics-header {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    color: rgb(150, 150, 150);
}

.lyrics-text {
    padding: 10px 0;
    line-height: 30px;
    font-size: 16px;
    white-space: pre;
}

.track-content {
    display: flex;
    width: 100%;
}

.lyrics-container {
    box-sizing: border-box;
    width: 55%;
    padding-left: 10px;
}


.track-modal {
    box-sizing: border-box;
    width: 45%;
    padding-left: 10px;
}

.annotations-header {
    position: sticky;
    top: 86px;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background-color: white;
    color: rgb(150, 150, 150);
}

.annotation-instructions {
    position: sticky;
    top: 140px;
    font-size: 14px;
    margin: 20px auto;
    width: 85%;
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 50);
    border-radius: 1px;
}

.annotation-instructions p {
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

.lyric-annotated {
    background-color: rgb(240, 240, 240);
}