.artist-show {
    width: 100%;
    max-width: 970px;
    margin: auto;
    min-height: 750px;
    display: flex;
}

.artist-info {
    box-sizing: border-box;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 20px 0 5px;
}

.artist-img {
    max-height: 275px;
    max-width: 275px;
    height: 100%;
    width: 100%;
    background-color: salmon;
    margin-bottom: 25px;
    border: 3px solid black;
    border-radius: 100%;
}

.artist-name {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}

.artist-description {
    box-sizing: border-box;
    background-color: white;
    margin: 15px;
    padding: 15px;
}

.artist-description h4 {
    font-size: 14px;
}

.artist-bio {
    padding-top: 15px;
    line-height: 26px;
}

.artist-tracks {
    box-sizing: border-box;
    width: 55%;
    margin: 225px 15px 0 20px;
}

.artist-tracks > ul {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.artist-tracks li {
    width: 50%;
    min-width: 200px;
}

.artist-tracks > p {
    font-size: 14px;
    font-weight: 700;
    color: rgb(150, 150, 150);
}

.track-item {
    display: flex;
    margin: 5px;
    background-color: white;
    color: black;
}

.track-img {
    width: 75px;
    height: 75px;
}

.track-info {
    margin: 5px;
}

.artist-tracks .track-title {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.track-album {
    font-size: 12px;
    padding-top: 5px;
}